
body {
  background-color: #232931;
  color: #4ecca3;
  font-family: 'Montserrat', sans-serif;
  margin: 40px auto;
  min-width: 450px;
  text-align: center;
  width: 80%;
}

.activities-list {
  color: #FC85AE;
  display: inline-block;
  margin: 25px auto;
  max-width: 800px;
}

.btn {
  background-color: #A1CDF4;
  border: none;
  border-radius: 5px;
  color: #232931;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 10px auto;
  padding: 10px;
}

.btn:hover {
  background-color: #0162b1;
  color: #ffffff;
  transition-duration: .5s;
}

.btn.active {
  background-color: #ffffff;
  color: #0162b1;
}

.github-link {
  color: #A1CDF4;
  font-size: 2em;
  text-decoration: none;
}

.hidden {
  display: none;
}
